.ContactDataForm {
    animation: showSlow .8s;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-size: 2.8rem;
    margin-bottom: 1rem;
    text-align: center;
}

@keyframes showSlow {
    0%   { opacity: 0; }
    100% { opacity: 1; }
  }