.mushroom1,
.mushroom2,
.mushroom3,
.mushroom4,
.mushroom5,
.mushroom6,
.mushroom7,
.mushroom8,
.mushroom9 {
    position: absolute;
    width: 76%;
    height: 87%;
}

.mushroom1 {
    right: 10rem;
    top: 10rem;
    transform: rotate(121deg);
}

.mushroom2 {
    left: 6rem;
    top: 4rem;
    transform: rotate(59deg);
}

.mushroom3 {
    left: 2rem;
    top: -12rem;
    transform: rotate(-134deg);
}

.mushroom4 {
    right: 1rem;
    bottom: 7rem;
    transform: rotate(-59deg);
}

.mushroom5 {
    right: 13rem;
    top: -9rem;
    transform: rotate(149deg);
}

.mushroom6 {
    right: 5rem;
    top: 10rem;
    transform: rotate(20deg);
}

.mushroom7 {
    left: 5rem;
    bottom: 17rem;
    transform: rotate(-106deg);
}

.mushroom8 {
    left: 13rem;
    bottom: -5rem;
    transform: rotate(9deg);
}

.mushroom9 {
    left: 4rem;
    bottom: 8rem;
    transform: rotate(-140deg);
}

.mushroomCup {
    height: 6%;
    width: 12%;
    border-radius: 8rem 8rem 0 0;
    background: #b49989;
}

/* height: 7%;
width: 15%; */

.mushroomStem {
    height: 8%;
    width: 5%;
    background: #c3b5ae;
    margin-left: 4%;
}

/* height: 8%;
width: 5%;
background: #c3b5ae;
margin-left: 5%; */