.mushroom1,
.mushroom2,
.mushroom3,
.mushroom4,
.mushroom5,
.mushroom6,
.mushroom7,
.mushroom8,
.mushroom9 {
    position: absolute;
}

.mushroom1 {
    left: 4rem;
    top: 10rem;
    transform: rotate(121deg);
}

.mushroom2 {
    left: 6rem;
    top: 4rem;
    transform: rotate(59deg);
}

.mushroom3 {
    left: 11rem;
    top: 10rem;
    transform: rotate(-134deg);
}

.mushroom4 {
    right: 4rem;
    bottom: 7rem;
    transform: rotate(-59deg);
}

.mushroom5 {
    right: 9rem;
    top: 2rem;
    transform: rotate(149deg);
}

.mushroom6 {
    left: 20rem;
    top: 10rem;
    transform: rotate(20deg);
}

.mushroom7 {
    left: 5rem;
    bottom: 9rem;
    transform: rotate(-106deg);
}

.mushroom8 {
    left: 13rem;
    bottom: 11rem;
    transform: rotate(9deg);
}

.mushroom9 {
    left: 14rem;
    bottom: 1rem;
    transform: rotate(-140deg);
}

.mushroomCup {
    height: 2.6rem;
    width: 6rem;
    border-radius: 8rem 8rem 0 0;
    background: #b49989;
}

.mushroomStem {
    height: 3.2rem;
    width: 2rem;
    background: #c3b5ae;
    margin-left: 1.9rem;
}