.plate {
  width: 50rem;
  height: 50rem;
  border-radius: 50%;
  background: #4A1804;
  margin: 0 auto;
  position: relative;
}

.pizzaBase1,
.pizzaBase2 {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  transform: translate(5.5%, 5.5%);
}

.pizzaBase1 {
  background-color: #E09B31;
}

.pizzaBase2 {
  background-color: #FFC61C;
  position: relative;
}

.handle {
  width: 30rem;
  height: 8rem;
  background: #4A1804;
  border-radius: 50px;
  position: absolute;
  bottom: -2rem;
  right: -17rem;
  transform: rotate(40deg);
  z-index: -1;
}

.handleHole {
  width: 3rem;
  height: 3rem;
  border-radius: 5rem;
  background: white;
  position: absolute;
  bottom: 2.5rem;
  right: 1.4rem;
}