.CustomInput {
    width: 40rem;
    margin: .5rem 0;
}

.CustomInputElement {
    width: 100%;
    margin: 0 auto;
    font:inherit;
    font-size: 1.5rem;
    padding: .3rem;
    
}

.invalid {
    color: white;
    background-color: red;
    text-transform: capitalize;
}

.invalid::placeholder  {
    opacity: 1;
    color: white;
}

.CustomInputElement:focus {
    outline: none;
}